$yellow: #ffb81c;

$purple:#6a4d8a;

$coral :#f18b6d;

$darkGrey :#222f36;

$colorsH: #545454;
// p color = colorsH lighten

$black : #242320;

$white : white;



// font-family: 'Lato', sans-serif;
// font-family: 'Poppins', sans-serif;
